<main>
    <div class="rquTh">
        <div class="xccq">
            <h1>Participantes 2024</h1>
        
            <article>
                <table>
                    <thead>
                        <tr>
                            <td>Nombres</td>
                            <td>Apellidos</td>
                            <td>Mail</td>
                            <td>Estado</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Josue Eduardo</td>
                            <td>Letràn Estrada</td>
                            <td>josueeduardo{{arb}}gmail.com</td>
                            <td class="i sc">Activo</td>
                        </tr>
                        <tr>
                            <td>Darwin Uriel</td>
                            <td>Giron Perez</td>
                            <td>darwinuriel{{arb}}hotmail.com</td>
                            <td class="i sc">Activo</td>
                        </tr>
                        <tr>
                            <td>Andre Alejandro</td>
                            <td>Bran Rodriguez</td>
                            <td>andrealejandro{{arb}}gmail.com</td>
                            <td class="i">Inactivo</td>
                        </tr>
                        <tr>
                            <td>Lenster Antonio</td>
                            <td>Lopez Puac</td>
                            <td>lensterantonio{{arb}}outlook.com</td>
                            <td class="i sc">Activo</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
        <div class="wZK63">
            <div class="xATCl">
                
            </div>
        </div>
    </div>
</main>